<h2>
  <small style="margin-left:1em">
    <% %w(auto_update_btc_price auto_update_huobi_assets auto_refresh_sec show_buy_sell_rate).each do |name| %>
      <%= link_to eval("get_#{name}_text"), eval("switch_#{name}_path") %> |
    <% end %>
  </small>
</h2>
<%= form_tag update_system_params_path, method: :post, id: 'update_system_params_form' do %>
  <div>
    <span id="update_system_params_span">
      <%= text_area_tag :system_params_content, @system_params_content, rows: 17, cols: 120 %>
    </span>
    <div align="center" style="width:90%;padding:1em">
      <%= submit_tag t(:save_system_params), style: 'font-size: 1.2em' %>
    </div>
  </div>
<% end %>
<p/>
