<%
  # 设置数据显示的小数点位数
  pos = 1
  # 获得所有宏观统计数据
  p_btc, eq_btc, btc_p, eth_p, sim_ave_cost, real_ave_cost, trezor_ave_cost, total_ave_cost, price_p, one_btc2cny, total_real_profit, total_unsell_profit, ave_hour_profit, total_real_p_24h, trezor_p, huobi_p, yuebao_p, capital_p, btc_ex_p, investable_cny, p_eth, ex_p, mine_p, mine_buy_cny, mine_earn_p, alipay_p, p_trezor_twd, p_alipay_twd, p_ex_twd, p_mine_earn_twd, flow_assets_twd, flow_plus_mine_twd = Property.invest_to_btc( admin? )

  @p_btc = p_btc  #比特币持有数
  @p_eth = p_eth  #以太坊持有数
  @btc_p = btc_p  #比特币所占比例
  @eth_p = eth_p  #以太坊所占比例
  @p_trezor_twd = p_trezor_twd.to_i               #冷钱包现值多少新台币
  @p_trezor_cny = (@p_trezor_twd*@twd2cny).to_i   #冷钱包现值多少人民币
  @p_alipay_twd = p_alipay_twd.to_i               #支付宝现值多少新台币
  @p_ex_twd = p_ex_twd.to_i                       #交易所现值多少新台币
  @p_mine_earn_twd = p_mine_earn_twd.to_i         #矿场资产现值多少新台币
  @p_mine_cost_cny = total_mine_cost              #矿机资产现值多少人民币
  @flow_assets_twd = flow_assets_twd              #流动资产现值多少新台币
  @flow_plus_mine_twd = flow_plus_mine_twd        #流动资产+矿机资产现值多少新台币
  @total_loan_max_twd = total_loan_max_twd        #可贷款总余额
  @flow_plus_loan_twd = (Property.total_flow_assets_twd+@total_loan_max_twd) #流动资产+可贷款总余额
  @title_table_margin = '0.3em'
  @set_bgcolor1 = '#EEE8AA'
  @set_bgcolor2 = '#E6E6FA'
  @show_title_value_twd = @show_title_value_cny = 0

  # 买卖比若超过(低于)所设定的值则会以高亮显示
  def buysell_class
    if @buy_sell_rate.to_f >= $buysell_high_rate
      return "buysell_high"
    elsif @buy_sell_rate.to_f <= $buysell_low_rate
      return "buysell_low"
    else
      return ""
    end
  end

  # 仓位变化大于某个值则高亮显示以提示买卖时机
  def level_diff_class
    if @btc_p >= $btc_base_level + $highlight_level_diff
      return "buysell_high"
    elsif @btc_p <= $btc_base_level - $highlight_level_diff
      return "buysell_low"
    else
      return ""
    end
  end

  # 点击交易列表里的仓位值会带入下单页并自动计算价格与买卖数量
  def show_btc_p_link_order
    link_to "#{to_n(@btc_p,2)}%", controller: :main, action: :place_order_form, keep_level: 1
  end

  # 支付宝资产兑换人民币
  def p_alipay_cny
    (@p_alipay_twd*@twd2cny).to_i
  end

  # 交易所资产兑换人民币
  def p_ex_cny
    (@p_ex_twd*@twd2cny).to_i
  end

  # 矿场资产兑换人民币
  def p_mine_earn_cny
    (@p_mine_earn_twd*@twd2cny).to_i
  end

  # 矿机资产兑换人民币
  def p_mine_cost_twd
    (@p_mine_cost_cny*@cny2twd).to_i
  end

  # 某项人民币资产占流动性资产比值
  def get_flow_assets_p( input_value, ex_rate = @cny2twd, include_loan_max = false )
    if include_loan_max
      input_value*ex_rate/@flow_plus_loan_twd*100
    else
      input_value*ex_rate/@flow_assets_twd*100
    end
  end

  def swap_twd_cny( twd_value, cny_value )
    if $show_value_cur.empty? or $show_value_cur.upcase == 'TWD'
      return twd_value.to_i
    elsif $show_value_cur.upcase == 'CNY'
      return '¥'+(cny_value.to_i).to_s
    else
      return 0
    end
  end

  # 显示冷钱包的现值
  def show_trezor
    swap_twd_cny( @p_trezor_twd, @p_trezor_cny )
  end

  # 显示矿机总成本
  def show_mine_cost
    swap_twd_cny( total_mine_cost*@cny2twd, total_mine_cost )
  end

  # 显示矿机总回本
  def show_mine_back
    swap_twd_cny( $mine_money_back*@cny2twd, $mine_money_back )
  end

  # 显示统计总值
  def show_title_value( currency = 'TWD' )
    if empty_or_flow?
      twd_value = @flow_assets_twd
    else
      twd_value = Property.tagged_with($show_value_tag).sum {|p| p.amount_to(:twd)}
    end
    @show_title_value_twd = twd_value.to_i
    @show_title_value_cny = (twd_value*@twd2cny).to_i
    swap_twd_cny( twd_value, twd_value*@twd2cny )
  end

  # 显示统计总值的链接
  def title_value_link
    if empty_or_flow?
      return '/properties?extags=&mode=a&pid=13&portfolio_name=流动性资产总值&tags='+$total_flow_assets_tags
    else
      return '/properties?tags='+$show_value_tag
    end
  end

  # 判断空标签或者流动性资产总值
  def empty_or_flow?
    $show_value_tag.empty? or $show_value_tag == '流动性资产总值'
  end

  # 显示统计总值的说明
  def show_title_value_note
    show_title_value if @show_title_value_twd == 0
    if $show_value_tag.empty?
      return "流动性资产总值(¥#{@show_title_value_cny}|#{@show_title_value_twd})"
    else
      return "#{$show_value_tag}总值(¥#{@show_title_value_cny}|#{@show_title_value_twd})"
    end
  end

  # 显示统计总值的文字
  def show_title_head
    if $show_value_tag.empty?
      return link_to('流动',title_value_link)
    else
      return link_to($show_value_tag[0,2],title_value_link)
    end
  end

  # 显示比特币和以太坊合计总值
  def show_btc_add_eth_value
    swap_twd_cny( @btc_add_eth_twd, @btc_add_eth_cny )
  end

  # 可生活月数
  life_fund = Property.total_life_fund_records_cny.to_f
  life_months = (life_fund/$trial_cost_month_grow_limit)
  # 加上贷款额度后的可生活月数
  life_fund_plus = life_fund+total_loan_max_cny
  life_months_plus = (life_fund_plus/$trial_cost_month_grow_limit)
  @life_fund_plus_cny = life_fund_plus
  @life_fund_plus_twd = life_fund_plus*@cny2twd
  life_fund_plus_p = @life_fund_plus_twd/@flow_plus_loan_twd*100
  # 狗狗币
  doge_value = Property.doge_records_cny.to_i
  # 狗狗币占流动性资产比值
  doge_value_p = get_flow_assets_p(doge_value,@cny2twd,true)
  # 买矿机资金
  buy_mine_fund = Property.buy_mine_fund_records_cny.to_i
  # 买矿机资金达成百分比
  buy_mine_fund_p = buy_mine_fund/$buy_mine_fund_target.to_f*100
  # 生活占流动性资产比值
  life_fund_p = get_flow_assets_p(life_fund,@cny2twd,true)
  # 持仓总值
  hold_shares_value = Property.hold_shares_records_cny.to_i
  # 持仓总值占流动性资产比值
  hold_shares_p = get_flow_assets_p(hold_shares_value,@cny2twd,true)
  # 银行总值
  bank_value = Property.bank_records_cny.to_i
  # 银行总值占流动性资产比值
  bank_value_p = get_flow_assets_p(bank_value)
  # 显示比特币和以太坊的总和
  @btc_add_eth_cny = (btc_eq_cny + eth_eq_cny).to_i
  @btc_add_eth_twd = (btc_eq_twd + eth_eq_twd).to_i
  # 比特币和以太坊各自占比特币和以太坊总和的比例
  if btc_eq_cny+eth_eq_cny > 0
    btc_p2 = btc_eq_cny.to_f/(btc_eq_cny+eth_eq_cny)*100
    eth_p2 = eth_eq_cny.to_f/(btc_eq_cny+eth_eq_cny)*100
  else
    btc_p2 = eth_p2 = 0
  end

  # 显示备用标签+保单可贷余额的总值
  def show_life_fund_plus_value
    swap_twd_cny( @life_fund_plus_twd, @life_fund_plus_cny )
  end
%>
<h3>
  <% if admin? %>
  <% # 显示宏观统计数据 %>
    <% if @buy_sell_rate.to_f > 0 %>
      <% buy_sell_rate_html = "<td class='thead' title='买卖多空比(#{$default_chart_period})'>多空</td><td>#{to_n(@buy_sell_rate,2)}</td>" %>
    <% else %>
      <% buy_sell_rate_html = '' %>
    <% end %>
    <%= raw("\
    <table width='#{$title_table_width}' style='text-align:right'><tr> \
      <td class='thead' title='流动性资产总值:¥#{(@flow_assets_twd*@twd2cny).to_i}(#{@flow_assets_twd.to_i})'>#{show_title_head}</td><td title='#{show_title_value_note}'>#{link_to( show_title_value, switch_show_value_cur_path)}</td> \
      <td class='thead' title='矿机总投入成本'>矿机</td><td>#{link_to( show_mine_cost, switch_show_value_cur_path)}</td><td class='thead' title='矿机总回本'>回本</td><td>#{link_to( show_mine_back, switch_show_value_cur_path)}</td> \
      <td class='thead' title='冷钱包(¥#{@p_trezor_cny}|#{@p_trezor_twd})占总流动资产比例(#{to_n(trezor_p,4)}%)'>#{link_to '冷钱包','/properties?tags=冷钱包'}</td><td bgcolor='#{@set_bgcolor1}'>#{to_n(trezor_p,pos)}%<td bgcolor='#{@set_bgcolor1}' title='¥#{@p_trezor_cny}(#{@p_trezor_twd})'>#{link_to( show_trezor, switch_show_value_cur_path)}</td></td> \
      <td class='thead' title='交易所(¥#{p_ex_cny}|#{@p_ex_twd})占总流动资产比例(#{to_n(ex_p,4)}%)'>#{link_to '交易所','/properties?tags=交易所'}</td><td bgcolor='#{@set_bgcolor1}'>#{to_n(ex_p,pos)}%</td> \
      <td class='thead' title='矿场(¥#{p_mine_earn_cny}|#{@p_mine_earn_twd})占总流动资产比例(#{to_n(mine_earn_p,4)}%)'>#{link_to '矿场','/properties?tags=矿场'}</td><td bgcolor='#{@set_bgcolor1}'>#{to_n(mine_earn_p,pos)}%</td> \
      <td class='thead' title='¥#{bank_value}(#{(bank_value*@cny2twd).to_i})'>#{link_to '银行','/properties?tags=银行'}</td><td bgcolor='#{@set_bgcolor1}'>#{to_n(bank_value_p,pos)}%</td> \
      </tr></table> \
    <table width='#{$title_table_width}' style='margin-top:#{@title_table_margin};text-align:right'><tr>#{buy_sell_rate_html} \
      <td class='thead' title='#{$cash_field_tag}: ¥#{investable_cny.to_i}(#{(investable_cny*@cny2twd).to_i})'>#{link_to $cash_field_tag[0,2],'/properties?tags='+$cash_field_tag}</td><td>#{to_n(capital_p,pos)}%</td>\
      <td class='thead' title='#{p_btc}:¥#{btc_eq_cny}(#{btc_eq_twd})'>#{link_to 'BTC','/properties?tags=比特币'}</td><td bgcolor='#{@set_bgcolor2}'>#{add_zero(btc_p.to_i,2)}% | #{add_zero(btc_p2.to_i,2)}%</td> \
      <td class='thead' title='#{p_eth}:¥#{eth_eq_cny}(#{eth_eq_twd})'>#{link_to 'ETH','/properties?tags=以太坊'}</td><td bgcolor='#{@set_bgcolor2}'>#{add_zero(eth_p.to_i,2)}% | #{add_zero(eth_p2.to_i,2)}%</td> \
      <td class='thead'>#{link_to '合计', '/properties?extags=&mode=a&pid=28&portfolio_name=比特币加以太坊&tags=比特币+以太坊'}</td><td bgcolor='#{@set_bgcolor2}' title='¥#{@btc_add_eth_cny}(#{@btc_add_eth_twd})'>#{link_to( show_btc_add_eth_value, switch_show_value_cur_path)}</td> \
      <td class='thead' title='#{$level_field_tag}总值: ¥#{hold_shares_value}(#{(hold_shares_value*@cny2twd).to_i})'>#{link_to $level_field_tag,'/properties?tags='+$level_field_tag}</td><td bgcolor='#{@set_bgcolor2}'>#{to_n(hold_shares_p,pos)}%</td> \
      <td class='thead' title='#{$reserve_fund_tag}总额:¥#{life_fund.to_i}(#{(life_fund*@cny2twd).to_i})\n每月生活费: ¥#{$trial_cost_month_grow_limit}(#{($trial_cost_month_grow_limit*@cny2twd).to_i})\n可生活月数: #{life_months.floor(2)}月(#{(life_months*30).to_i}天)'>#{link_to $reserve_fund_tag,'/properties?tags='+$reserve_fund_tag}</td><td bgcolor='#{@set_bgcolor2}'>#{to_n(life_fund_plus_p,pos)}%</td><td bgcolor='#{@set_bgcolor2}' title='#{$reserve_fund_tag}标签可生活月数'>#{life_months.to_i}/<span title='#{$reserve_fund_tag}标签+保单可贷余额的可生活月数'>#{life_months_plus.to_i}月</span></td><td bgcolor='#{@set_bgcolor2}' title='#{$reserve_fund_tag}标签+保单可贷余额的总值'>#{link_to( show_life_fund_plus_value, switch_show_value_cur_path)}</td></tr></table> \
      ") %>
    <% end %>
</h3>
